@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-riamo);
  --font-fahkwang: var(--font-fahkwang);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-riamo), Arial, Helvetica, sans-serif;
}

/* Utility classes for fonts */
.font-riamo {
  font-family: var(--font-riamo), Arial, Helvetica, sans-serif;
}

.font-fahkwang {
  font-family: var(--font-fahkwang), Arial, Helvetica, sans-serif;
}
